@use 'sass:color';

// Define the colors as SCSS variables
$colors: (
"vt-maroon-9s": #0D0306,
"vt-maroon-8s": #1B060D,
"vt-maroon-7s": #280913,
"vt-maroon-6s": #360C1A,
"vt-maroon-5s": #431021,
"vt-maroon-4s": #501327,
"vt-maroon-3s": #5E162E,
"vt-maroon-2s": #6B1934,
"vt-maroon-1s": #791C3B,
"vt-maroon": #861F41,
"vt-maroon-1t": #923654,
"vt-maroon-2t": #9E4C67,
"vt-maroon-3t": #AB637A,
"vt-maroon-4t": #B6798D,
"vt-maroon-5t": #C28FA0,
"vt-maroon-6t": #CFA5B3,
"vt-maroon-7t": #DABBC6,
"vt-maroon-8t": #E7D2D9,
"vt-maroon-9t": #F3E8EC,
"vt-burntOrange-9s": #170C03,
"vt-burntOrange-8s": #2E1807,
"vt-burntOrange-7s": #46240A,
"vt-burntOrange-6s": #5D300E,
"vt-burntOrange-5s": #743C11,
"vt-burntOrange-4s": #8B4714,
"vt-burntOrange-3s": #A25318,
"vt-burntOrange-2s": #BA5F1B,
"vt-burntOrange-1s": #D16B1F,
"vt-burntOrange": #E87722,
"vt-burntOrange-1t": #EA8538,
"vt-burntOrange-2t": #ED924E,
"vt-burntOrange-3t": #EFA064,
"vt-burntOrange-4t": #F1AD7A,
"vt-burntOrange-5t": #F4BB91,
"vt-burntOrange-6t": #F6C9A7,
"vt-burntOrange-7t": #F8D6BD,
"vt-burntOrange-8t": #FAE4D3,
"vt-burntOrange-9t": #FDF1E9,
"vt-hokieStone-9s": #0C0C0C,
"vt-hokieStone-8s": #171819,
"vt-hokieStone-7s": #232425,
"vt-hokieStone-6s": #2F3031,
"vt-hokieStone-5s": #3B3C3E,
"vt-hokieStone-4s": #46484A,
"vt-hokieStone-3s": #525456,
"vt-hokieStone-2s": #5E6062,
"vt-hokieStone-1s": #696C6F,
"vt-hokieStone": #75787b,
"vt-hokieStone-1t": #838688,
"vt-hokieStone-2t": #919395,
"vt-hokieStone-3t": #9FA1A3,
"vt-hokieStone-4t": #ACAEB0,
"vt-hokieStone-5t": #BABBBD,
"vt-hokieStone-6t": #C8C9CA,
"vt-hokieStone-7t": #D5D6D7,
"vt-hokieStone-8t": #E3E4E5,
"vt-hokieStone-9t": #F1F1F2,
"vt-white-9s": #191919,
"vt-white-8s": #333333,
"vt-white-7s": #4C4C4C,
"vt-white-6s": #666666,
"vt-white-5s": #808080,
"vt-white-4s": #999999,
"vt-white-3s": #B3B3B3,
"vt-white-2s": #CCCCCC,
"vt-white-1s": #E6E6E6,
"vt-white": #FFFFFF,
"vt-purple-9s": #0A040A,
"vt-purple-8s": #140815,
"vt-purple-7s": #1E0B1F,
"vt-purple-6s": #280F29,
"vt-purple-5s": #321334,
"vt-purple-4s": #3C173E,
"vt-purple-3s": #461B48,
"vt-purple-2s": #501E52,
"vt-purple-1s": #5A225D,
"vt-purple": #642667,
"vt-purple-1t": #743C76,
"vt-purple-2t": #835185,
"vt-purple-3t": #936895,
"vt-purple-4t": #A27DA4,
"vt-purple-5t": #B192B3,
"vt-purple-6t": #C1A8C2,
"vt-purple-7t": #D0BDD1,
"vt-purple-8t": #E0D4E1,
"vt-purple-9t": #EFE9EF,
"vt-pink-9s": #150009,
"vt-pink-8s": #290012,
"vt-pink-7s": #3E001A,
"vt-pink-6s": #520023,
"vt-pink-5s": #67002C,
"vt-pink-4s": #7C0035,
"vt-pink-3s": #90003E,
"vt-pink-2s": #A50046,
"vt-pink-1s": #B9004F,
"vt-pink": #CE0058,
"vt-pink-1t": #D31A69,
"vt-pink-2t": #D83379,
"vt-pink-3t": #DD4D8A,
"vt-pink-4t": #E2669B,
"vt-pink-5t": #E780AC,
"vt-pink-6t": #EB99BC,
"vt-pink-7t": #F0B3CD,
"vt-pink-8t": #F5CCDE,
"vt-pink-9t": #FAE6EE,
"vt-sunset-9s": #180E00,
"vt-sunset-8s": #2F1C00,
"vt-sunset-7s": #472A00,
"vt-sunset-6s": #5F3800,
"vt-sunset-5s": #774600,
"vt-sunset-4s": #8E5300,
"vt-sunset-3s": #A66100,
"vt-sunset-2s": #B36F00,
"vt-sunset-1s": #D57D00,
"vt-sunset": #ED8B00,
"vt-sunset-1t": #EF971A,
"vt-sunset-2t": #F1A233,
"vt-sunset-3t": #F2AE4D,
"vt-sunset-4t": #F4B966,
"vt-sunset-5t": #F6C57F,
"vt-sunset-6t": #F8D199,
"vt-sunset-7t": #FADCB2,
"vt-sunset-8t": #FBE8CC,
"vt-sunset-9t": #FDF3E5,
"vt-yellow-9s": #191707,
"vt-yellow-8s": #312F0E,
"vt-yellow-7s": #4A4616,
"vt-yellow-6s": #635E1D,
"vt-yellow-5s": #7C7524,
"vt-yellow-4s": #948C2B,
"vt-yellow-3s": #ADA432,
"vt-yellow-2s": #C6BB3A,
"vt-yellow-1s": #DED341,
"vt-yellow": #F7EA48,
"vt-yellow-1t": #F8EC5B,
"vt-yellow-2t": #F9EE6D,
"vt-yellow-3t": #F9F07F,
"vt-yellow-4t": #FAF291,
"vt-yellow-5t": #FBF4A3,
"vt-yellow-6t": #FCF7B6,
"vt-yellow-7t": #FDF9C8,
"vt-yellow-8t": #FDFBDA,
"vt-yellow-9t": #FEFDEC,
"vt-teal-9s": #080D0E,
"vt-teal-8s": #101B1D,
"vt-teal-7s": #18282B,
"vt-teal-6s": #20353A,
"vt-teal-5s": #284348,
"vt-teal-4s": #305056,
"vt-teal-3s": #385D65,
"vt-teal-2s": #406A73,
"vt-teal-1s": #487882,
"vt-teal": #508590,
"vt-teal-1t": #62919B,
"vt-teal-2t": #739DA6,
"vt-teal-3t": #85AAB2,
"vt-teal-4t": #96B6BC,
"vt-teal-5t": #A7C2C7,
"vt-teal-6t": #B9CED3,
"vt-teal-7t": #CADADD,
"vt-teal-8t": #DCE7E9,
"vt-teal-9t": #EDF3F4,
"vt-turquoise-9s": #041514,
"vt-turquoise-8s": #092B27,
"vt-turquoise-7s": #0D403B,
"vt-turquoise-6s": #12554E,
"vt-turquoise-5s": #166B62,
"vt-turquoise-4s": #1A8076,
"vt-turquoise-3s": #1F9589,
"vt-turquoise-2s": #23AA9D,
"vt-turquoise-1s": #28C0B0,
"vt-turquoise": #2CD5C4,
"vt-turquoise-1t": #42D9CA,
"vt-turquoise-2t": #56DDD0,
"vt-turquoise-3t": #6CE2D6,
"vt-turquoise-4t": #80E6DC,
"vt-turquoise-5t": #95EAE1,
"vt-turquoise-6t": #ABEEE7,
"vt-turquoise-7t": #BFF2ED,
"vt-turquoise-8t": #D5F7F3,
"vt-turquoise-9t": #E9FBF9,
"vt-grey-9s": #151514,
"vt-grey-8s": #2B2A29,
"vt-grey-7s": #403F3D,
"vt-grey-6s": #565451,
"vt-grey-5s": #6C6966,
"vt-grey-4s": #817E7A,
"vt-grey-3s": #97938E,
"vt-grey-2s": #ACA8A2,
"vt-grey-1s": #C2BDB7,
"vt-grey": #D7D2CB,
"vt-grey-1t": #DBD7D0,
"vt-grey-2t": #DFDBD5,
"vt-grey-3t": #E3E0DB,
"vt-grey-4t": #E7E4E0,
"vt-grey-5t": #EBE8E5,
"vt-grey-6t": #EFEDEA,
"vt-grey-7t": #F3F1EF,
"vt-grey-8t": #F7F6F5,
"vt-grey-9t": #FBFAFA,
"vt-smoke-9s": #0A040A,
"vt-smoke-8s": #140815,
"vt-smoke-7s": #1E0B1F,
"vt-smoke-6s": #280F29,
"vt-smoke-5s": #321334,
"vt-smoke-4s": #3C173E,
"vt-smoke-3s": #461B48,
"vt-smoke-2s": #B7B4B8,
"vt-smoke-1s": #CECBCF,
"vt-smoke": #E5E1E6,
"vt-smoke-7t": #F2F0F2,
"vt-smoke-9t": #FAF9FA,
"vt-blue-9s": #00060B,
"vt-blue-8s": #000C17,
"vt-blue-7s": #001222,
"vt-blue-6s": #00182D,
"vt-blue-5s": #001E39,
"vt-blue-4s": #002444,
"vt-blue-3s": #002A4F,
"vt-blue-2s": #00305A,
"vt-blue-1s": #003666,
"vt-blue": #003C71,
"vt-blue-1t": #194F7F,
"vt-blue-2t": #33638D,
"vt-blue-3t": #4C769C,
"vt-blue-4t": #668AAA,
"vt-blue-5t": #809DB8,
"vt-blue-6t": #99B1C6,
"vt-blue-7t": #B2C4D4,
"vt-blue-8t": #CCD8E3,
"vt-blue-9t": #E5EBF1,
"vt-burntOrangeWeb-9s": #150009,
"vt-burntOrangeWeb-8s": #280E00,
"vt-burntOrangeWeb-7s": #3B1500,
"vt-burntOrangeWeb-6s": #632300,
"vt-burntOrangeWeb-5s": #67002C,
"vt-burntOrangeWeb-4s": #772A00,
"vt-burntOrangeWeb-3s": #8B3100,
"vt-burntOrangeWeb-2s": #9E3800,
"vt-burntOrangeWeb-1s": #B23F00,
"vt-burntOrangeWeb": #C64600,
"vt-burntOrangeWeb-1t": #CC591A,
"vt-burntOrangeWeb-2t": #D16B33,
"vt-burntOrangeWeb-3t": #D77E4D,
"vt-burntOrangeWeb-4t": #DD9066,
"vt-burntOrangeWeb-5t": #E2A27F,
"vt-burntOrangeWeb-6t": #E8B599,
"vt-burntOrangeWeb-7t": #EEC7B2,
"vt-burntOrangeWeb-8t": #F4DACC,
"vt-burntOrangeWeb-9t": #F9ECE5
);

@function contrast-color($background-color) {
  $r: color.channel($background-color, "red", $space: rgb);
  $g: color.channel($background-color, "green", $space: rgb);
  $b: color.channel($background-color, "blue", $space: rgb);

  // Calculate the luminance of the background color
  $luminance: (($r * 0.299) + ($g * 0.587) + ($b * 0.114));

  // Return white for dark backgrounds, and black for light backgrounds
  @if $luminance > 186 {
    @return black;
  } @else {
    @return white;
  }
}

// Styling for the color divs
div[class*="div"] {
  width: 250px;
  height: 50px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; // Ensure text is visible on dark backgrounds
  font-size: 14px;
}

// Generate div styles dynamically using SCSS loops
@each $name, $color in $colors {
  .div-#{$name} {
    background-color: $color;
   

    &:before {
      content: "#{$name}";
      color: contrast-color($color); // Use the function for font color contrast
    }
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // Adjusts columns based on available space
  gap: 10px; // Space between the divs
}